html body {
    background-color: #d3d3d3;
}

h1 {
text-align: center;
}

.results {
  width: 42%;
  padding: 15px;
  margin-top: 25px;
  background-color: #d3d3d3;
  display: inline-table;
}

img {
  padding: 2px;
  margin: 2px;
  width: 32.33%;
  height: 32.33%;
}

.mid {
  text-align: center;
  padding-top: 35px;
}

#wrapper {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 30px;
}

div .border {
    border: 2px solid black !important;
}

button {
  width: 18%;
  height: 45px;
  font-size: 20px;
  padding-bottom: 0px;
  position: absolute;
  margin-left: 9px !important;
}

.search {
  height: 45px;
  width: 65%;
  font-size: 20px;
  padding-left: 7px;
}

.headline {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#formId {
  height: 20px;
}

.resultBorder {
  border: 1px solid green;
  background: green;
}

body a {
  color: darkblue;
}
